<div class="container is-fluid mt-5">
  <div class="columns is-centered">
    <div class="column is-8">
      <h1 class="title">Welcome</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quae
        rem ipsum praesentium, tenetur doloremque libero. Fugit, dolore
        possimus molestias cupiditate iste deserunt! Aut aliquid rem quas
        consequatur non iste.
      </p>
    </div>
    <div class="column is-4">
      <h1 class="title">Sign Up</h1>
      <!-- Sign up form -->
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left">
          <input class="input" type="text" />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
        <p class="help is-danger">error</p>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <p class="help is-danger">error</p>
      </div>

      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <p class="help is-danger">error</p>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        <p class="help is-danger">error</p>
      </div>

      <div class="field">
        <label class="label">Mobile Number</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" />
          <span class="icon is-small is-left">
            <i class="fas fa-mobile"></i>
          </span>
        </div>
        <p class="help is-danger">error</p>
      </div>

      <div class="field">
        <label class="label">First Name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" />
        </div>
        <p class="help is-danger">error</p>
      </div>

      <div class="field">
        <label class="label">Last Name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" />
        </div>
        <p class="help is-danger">error</p>
      </div>

      <button class="button is-primary is-fullwidth">Sign Up</button>

      <p class="my-3">
        Already have an account? <a href="#">Login</a>
      </p>
    </div>
  </div>
</div>